.container {
}

.artistName {
    font-size: var(--font-xl);
    line-height: 1.5;
    border-bottom: 1px solid rgb(169 169 169 / 0.2);
    margin-bottom: 12px;
}

.albums {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.albumBlock {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.albumBlockLeft {
    /*height: 100%;*/
    max-width: 200px;
    min-width: 120px;
}

.albumCover {
    /*max-height: 300px;*/
    /*max-width: 300px;*/
    height: 100%;
    width: 100%;
    object-fit: cover;
    /*display: block;*/
}

.albumBlockRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;

    min-width: 120px;
}

.albumTitle {
    font-size: var(--font-xl);
}

.songs {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.song {
    display: flex;
    width: 100%;
    max-width: 600px;
    align-items: center;
    justify-content: space-between;
    padding: 3px 12px;
    transition: 100ms ease-out background-color;

    &:nth-child(even) {
        background-color: var(--color-surface);
    }

    &.playing {
        background-color: var(--color-primary);
    }

    font-size: var(--font-md);
}

.songLeft {
    display: flex;
    padding-left: 8px;
    gap: 16px;
    align-items: center;
    justify-content: start;

    flex: 1;
    min-width: 0;
    text-align: start;
}

.playingIcon {
    width: 18px;
    height: 18px;
    margin-left: -2px;
}

.songTrackNumber {
    width: 18px;
}

.songTitle {
    flex: 1;
    min-width: 0;
}

.songDuration {
    margin-left: 40px;
}