.container {
    width: 100%;
    height: 72px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255 255 255 / 0.05);
    position: relative;
}

.innerBlock {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    padding-inline: 12px;
}

.progressBar {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    cursor: pointer;
    transition: height 0.1s ease;
    /*border-top: 10px solid transparent;*/
    /*border-bottom: 10px solid transparent;*/
    height: 2px;

    &::-webkit-slider-thumb {
        -webkit-appearance: none; /* Essential reset */
        appearance: none;
        height: 14px;
        width: 14px;
        background-color: var(--color-primary);
        border-radius: 50%;
        margin-top: 0;
        opacity: 0;
        transition: opacity 0.1s ease;
    }

    &:hover {
        &::-webkit-slider-thumb {
            opacity: 1;
        }
        height: 4px;
    }
}

.progress {
    white-space: nowrap;
    margin-left: 20px;
    font-size: 16px;
    /*width: 10px;*/
    width: 100%;
    max-width: 120px;
}

.disabled {
    background-color: rgb(255 0 0 / 0.1);
}

.leftControls {
    display: flex;
    gap: 10px;
}

.leftControl {
    width: 32px;
    height: 32px;
    /*background-color: red;*/
    /*overflow: hidden;*/
}

.leftControl svg {
    width: 100%;
    height: 100%;
}

.currentSongBlock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    gap: 12px;
    max-width: 40vw;
    overflow: hidden;
}

.currentSongCover {
    width: 48px;
    height: 48px;
}

.currentSongDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1;
    gap: 4px;
    min-width: 0;
}

.currentSongTitle {
    font-size: 16px;
    font-weight: 600;
}

.currentSongArtist {
    color: var(--color-muted);
    font-size: 16px;
    font-weight: 600;
}

.rightControls {
    margin-left: auto;
    display: flex;
    gap: 16px;
}

.rightControl {
    width: 30px;
    height: 30px;
    opacity: 50%;
    /*background-color: red;*/
}

.rightControl svg {
    width: 100%;
    height: 100%;
}
