.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 16px;
    height: 60px;
    border-bottom: 1px solid rgb(169 169 169 / 0.5);
}

.layout {
    display: flex;
    flex: 1; /* Takes up remaining space between header and footer */
    overflow: hidden;
    /*max-height: 600px;*/
}

.main {
    flex: 1;
    overflow-y: auto;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-color: var(--color-primary-light) var(--color-surface);
    padding: 16px;
}

.songs {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.song {
    padding: 6px;
    border: 2px solid var(--color-info);
    cursor: pointer;
    width: 500px;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
